body, html{
    padding:0;
    margin:0;
    font-family: lato;
    background-color:#FAFAFA;
    background-size:cover;
    text-align: center;
}

a{
    color:#1F45FC;
}

.main{
    position: center;
    height: 100%;
    width:100%;
}
    .main ,mainContent{
        color:#000000;
        position: center;
    }

