html{
    margin:0;
    padding:0;
    border:0;
}

body{
    padding:0;
    margin:0;
    border:0;
    text-align: center;
}

a{
    color:#1F45FC;
}

.main{
    position: center;
    height: 100%;
    width:100%;
}



#content{
    width: 100%;
    position: relative;
    top:400px;
    background:#ebebeb;
    height:1500px
   
}