body, html{
    padding:0;
    margin:0;
    font-family: myriad-pro, sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color:#1f1f1f;
    background-size:cover;
    text-align: center;
    color: #aaaaaa
}

a{
    color: #aaaaaa
}

.main{
    position: center;
    height: 100%;
    width:100%;
    text-align: center;
}
    .main ,mainContent{
        position: center;
    }

    .title{
        position: relative;
        top: 18px;
        font-size: 20px;
    }

    .contactInfo{
        position: relative;
        top: 35px;
        font-size: 25px;
    }

        .link1{
            margin-right:10px;
        }
        .link2{
            margin-left:10px;
        }
    
    .para{
        position: relative;
        top:50px;
        margin-left: 300px;
        margin-right: 300px;
        font-size: 10px;
    }

  .Media{
      top:500px;
  }

